nav {
    position: relative
}

.mainNavLinkContainer{
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}

.mainNavLinkContainer li {
    display: flex;
    padding: 0 0.75em;
}

.mainNavLink{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
    transition: 0.1s linear;
    position: relative;
    z-index: 100;
}

.mainNavLink:hover{
    color: rgb(235, 133, 38);
    text-decoration: underline;
}