---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<!-- Main index layout will go here. -->
		<h1>content</h1>
	</main>
</Layout>
<style>
	main{
		width: 100%;
	}
</style>