---
import { MainNavigation, ProfileIcon, Logo } from "@components";
import { AiFillLinkedin, AiFillGithub, AiFillHeart } from "react-icons/ai";
import { Image } from '@astrojs/image/components';
import tavernLogo from "@public/images/logo.svg"
const menu = [
			{ url: "#", label: "Home" },
			{ url: "#articles", label: "Articles" },
			{ url: "#about", label: "About" },
			{ url: "#csv", label: "CSV" },
			{ url: "#contact", label: "Contact" }
		]
---
<header id="site-header">


	<nav id="main-header-navigation">
		<Logo fillColour="#FFFFFF"/>		
		<MainNavigation
			menu={menu}
		/>
	</nav>
	<!-- <nav id="media-accounts">
		<ProfileIcon title="linkedin" Icon={AiFillLinkedin} url="https://www.linkedin.com/in/dan-ruxton"/>
		<ProfileIcon title="github" Icon={AiFillGithub} url="https://github.com/riezahughes"/>
		<ProfileIcon title="heart" Icon={AiFillHeart} url="https://github.com/riezahughes"/>
	</nav> -->
</header>
 
<style>

	#site-header{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	#main-header-navigation{
		display: flex;
	}

</style>