---
import MainNavigation from "../components/MainNavigation/MainNavigation";
---
<div>

    <MainNavigation	menu={[
						{ url: "#", label: "Home" },
						{ url: "#articles", label: "Articles" },
						{ url: "#about", label: "About" },
						{ url: "#csv", label: "CSV" },
						{ url: "#contact", label: "Contact" }
					]}/>
</div>

